body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-shadow: 1px 1px 2px #fff;
}
h2, h1{
    font-weight: 700;
}
header{
    .column{
        display: flex;
        align-items: center;
    }
    .buy{
        color: #000;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #000;
        font-size: 18px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .right-col{
        justify-content: flex-end;
    }
    .logo{
        width: 150px;
    }
}
.vacuum-wrapper{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat ;
}
.clog-technology .row{
    max-width: 100%;
    margin: 0;
}
.her0{
    background-image: url('./assets/hero-bg.jpg');
    height: 600px;
    background-position: center center;
    background-attachment: fixed;
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    .title-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            font-weight: 600;
            text-shadow: 1px 1px 2px #fff;
            font-size: 18px;
        }
    }
}

.desc-section{
    padding: 50px 0;
    .left-col{
        object-fit: contain;
        img{
            max-width: 100%;
        } 
    }
    .right-col{
        p{
            line-height: 1.6;
        }
    }
}

.clog-technology{
    background: #000;
    color: #fff;
    .left-col{
        img{
            max-width: 100%;
        }
    }
}
.clog-technology .right-col{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-section{
    padding: 50px 0;
}
.grid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
            "b c bi bi"
            "sb sb bi bi";
            img{
                width: 100%;
                transition: 0.3s;
                position: relative;
                height: 100%;
                &:hover{
                    
                }
                &:before{
                    content: attr(data-test);
                    background-color: red;
                    width: 200px;
                    height: 200px;
                }
            }
    .brash{
        grid-area: b;
    }
    .cleaner{
        grid-area: c;
    }
    .big-img{
        grid-area: bi;
    }
    .small-brash{
        grid-area: sb;
    }
}
.carousel-inner{
    img{
        max-height: 700px;
        object-fit: cover;
    }
}
.slider{
    padding: 50px 0;
    position: relative;
    .slide-text{
        width: 50%;
        display: inline-block;
        text-align: center;
    }
    .slide-img{
        width: 50%;
        display: inline-block;
    }
    .carousel-control-prev-icon{
        background-color: #000;
    }
    .carousel-control-next-icon{
        background-color: #000;
    }
    .slide-absolute-text{
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .title-wrapper p, .title-wrapper h1{
        text-align: center;
    }
    header{
        padding: 0 0 20px 0;
    }
    header .buy{
        font-size: 14px;
    }
    header .column{
        justify-content: center;
    }
    .desc-section .left-col img{
        margin-bottom: 20px;
    }
    .clog-technology .right-col{
        padding-top: 15px;
    }
    .grid{
        grid-template-areas:
        "bi bi bi bi"
        "bi bi bi bi"
        "b b c c"
        "sb sb sb sb"; 
}
  }
  @media screen and (max-width: 400px) {
    header .buy{
        text-align: center;
    }
    .big-img{
        object-fit: cover;
    }
  }